<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <style>
         .custom-font {
            font-family: 'Poppins', sans-serif;
         }
        input[type="text"],
        input[type="number"] {
            border-radius: 10px;
            padding: 5px;
        }

        input[type="checkbox"] {
            border-radius: 5px;
        }

    </style>
</head>
<body style="text-align:center; font-family: 'Heebo', sans-serif; background-color: #f4f4fd; padding-top: 100px;">
    <header style="padding-bottom: 50px;">
        <h1>English to Chinese Flashcard Generator</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
</body>
</html>
